body{
    font-family: Arial,sans-serif;
   max-width:100%;
   line-height: 30pt;
   text-align: center;
}
 
header{
    background-color:  rgb(190, 151, 66);
    
    
}
section{
    display: flex;
    gap: 20px;
    justify-content: center;
}
img{
    height: 300px;
width: 300px;
}

.btn{
    background-color: rgb(190, 151, 66);
    text-decoration: none;
    color: white;
   display: inline-flex;
   border-radius: 6px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
}
 
.btn:hover{
 background-color: rgb(170, 135, 55);
}