* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

main {
    max-width: 900px;
    text-align: center;
    margin: auto;

}

header {
    background-color: rgb(190, 151, 66);
    padding: 40px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0.3);
    color: white;
    text-align: center;
    
}

section {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
 align-items: center;
}

.lista-sabores {
    display: inline-block;
    gap: 20px;
    width: 45%;
    align-items: center;
    flex-wrap: wrap;
}

.acoes {
    display: flex;
    justify-content: center;
    gap: 12px;
}

img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.btn {
    background-color: rgb(190, 151, 66);
    text-decoration: none;
    color: white;
    display: inline-flex;
    border-radius: 6px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;

}

.btn:hover {
    background-color: rgb(170, 135, 55);
}

footer{
    background-color:  rgb(170, 135, 55);
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px;
}