* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

main {
    max-width: 100%;
    text-align: center;
    margin: auto;
    

}

header {
    background-color: rgb(190, 151, 66);
    padding: 40px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,0.5);
    color: white;
    text-align: center;
    
}


section {
    
    flex-direction: column;
    margin: 40px 0px;
   
 align-items: center;

}

section:not(.lista-sabores){
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    align-items: center;
}



.lista-sabores {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
   padding: 20px 0;
}

.lista-sabores article{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

img {
    height: auto;
    max-width:  100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn {
    background-color: rgb(190, 151, 66);
    text-decoration: none;
    color: white;
    display: inline-flex;
    border-radius: 6px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;

}

.btn:hover {
    background-color: rgb(170, 135, 55);
}

footer{
    background-color:  rgb(170, 135, 55);
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px;
}